/.idea
Mobile/.gradle
Mobile/.idea/codeStyles/Project.xml
Mobile/.idea/gradle.xml
Mobile/.idea/misc.xml
Mobile/.idea/runConfigurations.xml
Mobile/.idea/vcs.xml
Mobile/.idea/inspectionProfiles/Project_Default.xml

Mobile/app/.idea/codeStyles/Project.xml
Mobile/app/.idea/gradle.xml
Mobile/app/.idea/misc.xml
Mobile/app/.idea/runConfigurations.xml
Mobile/app/.idea/vcs.xml
Mobile/.idea/inspectionProfiles/Project_Default.xml

# Local configuration file (sdk path, etc)
local.properties
Mobile/local.properties

app/app.iml
Mobile/app/app.iml
*.iml
API/__pycache__/
API/flask/
API/.vscode/
API/.idea/
API/*.pyc
API/venv
API/ngrok.exe

